.TopToBottomAnim {
    opacity: 0;
    translate: 0 -150px;
    transition: opacity 0.5s ease-in-out, translate 0.4s ease-in-out, scale 0.4s ease-in-out;
    pointer-events: none;
}
.TopToBottomAnim.activeAnim {
    opacity: 1;
    translate: 0 0;
    pointer-events: all;
}
.BottomToTopAnim {
    opacity: 0;
    translate: 0 150px;
    transition: opacity 0.5s ease-in-out, translate 0.4s ease-in-out, scale 0.4s ease-in-out;
    pointer-events: none;
}
.BottomToTopAnim.activeAnim {
    opacity: 1;
    translate: 0 0;
    pointer-events: all;
}
.LeftToRightAnim {
    opacity: 0;
    translate: -150px 0;
    transition: opacity 0.5s ease-in-out, translate 0.4s ease-in-out, scale 0.4s ease-in-out;
    pointer-events: none;
}
.LeftToRightAnim.activeAnim {
    opacity: 1;
    translate: 0 0;
    pointer-events: all;
}
.RightToLeftAnim {
    opacity: 0;
    translate: 150px 0;
    transition: opacity 0.5s ease-in-out, translate 0.4s ease-in-out, scale 0.4s ease-in-out;
    pointer-events: none;
}
.RightToLeftAnim.activeAnim {
    opacity: 1;
    translate: 0 0;
    pointer-events: all;
}
.ScaleToShowAnim {
    opacity: 0;
    scale: 0.3;
    transition: opacity 0.5s ease-in-out, scale 0.4s ease-in-out, translate 0.4s ease-in-out;
    pointer-events: none;
}
.ScaleToShowAnim.activeAnim {
    opacity: 1;
    scale: 1;
    pointer-events: all;
}
.ScaleReverseToShowAnim {
    opacity: 0;
    scale: 1.7;
    transition: opacity 0.5s ease-in-out, scale 0.4s ease-in-out, translate 0.4s ease-in-out;
    pointer-events: none;
}
.ScaleReverseToShowAnim.activeAnim {
    opacity: 1;
    scale: 1;
    pointer-events: all;
}
