:root {
    --primary-color: #e09160;
    --primary-color-hover: rgb(224, 171, 137);
    --background-color: rgb(245, 245, 245);
    --text-color: #333;
    --text-secondary-color: #555;
    --font-family: 'Arial', sans-serif;
    --insta-profile-bg: linear-gradient(-135deg, #D300C5, #F40180, #FF4032, #ffb300, #FFC900);
    --gender-woman-clr: #D85590;
    --gender-man-clr: #4981A9;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: var(--font-family);
    color: var(--text-color);
}
::selection {
    background-color: var(--primary-color);
    color: var(--background-color);
}
html {
    scroll-behavior: smooth !important;
}
button,
a {
    user-select: none;
    text-decoration: none;
}
body {
    background-color: var(--background-color);
}
.container {
    width: 1500px;
    margin: 0 auto;
    padding: 60px 15px;
}
.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button.primary {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--background-color);
    width: fit-content;
    white-space: nowrap;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.25s ease, scale 0.2s ease;
}
button.primary:hover {
    background-color: var(--primary-color-hover);
}
button.primary:active {
    scale: 0.9;
}
::-webkit-scrollbar {
    width: 0;
}
.space {
    min-height: 40px;
}
