.home-header {
    position: relative;
    width: 100%;
    height: 100svh;
}
.header-background {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
.header-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
}
.swiper {
    width: 100%;
    height: 100%;
    user-select: none;
}
.swiper-slide img {
    pointer-events: none;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--background-color);
}
.header-content * {
    color: var(--background-color);
}
.header-content h1 {
    font-size: 4rem;
}
.header-content p {
    font-size: 2rem;
    margin-top: 1rem;
}
.header-content button {
    margin-top: 2rem;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
    transition: box-shadow 0.25s ease, scale 0.25s ease;
    font-size: 1.5rem;
}
.header-content button:hover,
.header-content button:active {
    box-shadow: 0 0 10px 3px white;
}
.header-content button:active {
    scale: 0.9;
}
.header-icon {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(245, 245, 245, 0.7);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.6);
    cursor: pointer;
    width: 60px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon svg {
    width: 2.3rem;
    height: 2.3rem;
}
.header-icon svg g {
    stroke: var(--text-color);
}
.sidebyside-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.swiper.mySwiper2 {
    margin: 100px auto;
    width: 550px;
    overflow: hidden;
}
.sidebyside .sidebyside-media .swiper-slide {
    overflow: hidden;
    aspect-ratio: 1 / 1;
}
.sidebyside .sidebyside-media .swiper {
    position: relative;
}
.sidebyside .sidebyside-media .swiper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 15px 20px rgba(245, 245, 245, 1);
    border-radius: 30px;
    z-index: 100;
    pointer-events: none;
    scale: 1.035;
}
.sidebyside .sidebyside-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
}
.sidebyside-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2 {
    font-size: 2.5rem;
}
.sidebyside-content p {
    font-size: 1.15rem;
    color: var(--text-secondary-color);
}
.swiper-pagination {
    position: relative;
    width: fit-content !important;
    white-space: nowrap;
    border-radius: 50px;
    padding: 6px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    background-color: #C5BCB6;
    margin: 0 -12px;
    z-index: 100;
    top: 0 !important;
    bottom: 0 !important;
}
.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px !important;
    width: 13px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    transition: background-color 0.5s ease-in-out !important;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    animation: scale-bullet 1s ease-in-out infinite !important;
}
@keyframes scale-bullet {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.swiper-prev-next-buttons {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(197, 188, 182, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
}
.swiper-prev-next-buttons .swiper-button-next,
.swiper-prev-next-buttons .swiper-button-prev {
    position: static;
    margin: 0;
    padding: 5px 18px;
    transition: background-color 0.25s ease;
    height: 30px;
}
.swiper-prev-next-buttons .swiper-button-prev {
    padding-right: 28px;
}
.swiper-prev-next-buttons .swiper-button-next {
    padding-left: 28px;
}
.swiper-prev-next-buttons .swiper-button-next::after,
.swiper-prev-next-buttons .swiper-button-prev::after {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--primary-color-hover);
}
.swiper-prev-next-buttons .swiper-button-next:hover,
.swiper-prev-next-buttons .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.userStories {
    padding: 50px 0;
}
.userStories-container .userStories-stories {
    position: relative;
    width: 550px;
    padding: 25px 0;
    overflow: hidden;
}
.userStories-container .userStories-stories::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 30px rgba(245, 245, 245, 1);
    border-radius: 30px;
    z-index: 100;
    pointer-events: none;
}
.userStories-container .swiper {
    width: 350px;
    height: 550px;
}
.userStories-users .swiper-wrapper {
    display: flex;
    gap: 20px;
}
.userStories-container .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.userStories-container .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userStories-container .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}
.userStories-container .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}
.userStories-container .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}
.userStories-container .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}
.userStories-container .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}
.userStories-users .swiper-slide {
    width: 150px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.userStories-users .swiper-slide .user-profile-pic img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 3px;
    background: var(--background-color);
}
.userStories-users .swiper-slide .user-profile-pic::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border-radius: 50%;
    background: var(--background-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}
.userStories-users-container {
    width: 840px;
    overflow: hidden;
}
.userStories-users .user-profile-pic {
    position: relative;
    background: var(--insta-profile-bg);
    padding: 4px;
    border-radius: 50%;
    transition: scale 0.25s ease-in-out;
}
.userStories-users .swiper-slide:hover .user-profile-pic::after,
.userStories-users .swiper-slide:active .user-profile-pic::after {
    opacity: 0.12;
}
.userStories-users .swiper-slide:active .user-profile-pic {
    scale: 0.9;
}
@media (min-width: 1024px) {
    .userStories-users .swiper-button-prev,
    .userStories-users .swiper-button-next {
        display: none;
    }
    .userStories-users .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.gallery {
    padding: 3rem 0;
}
.gallery h2 {
    text-align: center;
    padding: 3rem 0;
}
.gallery-container {
    position: relative;
    background: linear-gradient(-45deg, var(--primary-color), transparent, transparent, transparent, transparent, transparent, transparent, var(--primary-color));
    padding: 10px;
    border-radius: 20px;
}
.gallery-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(45deg, var(--primary-color), transparent, transparent, transparent, transparent, transparent, transparent, var(--primary-color));
    border-radius: 20px;
}
.gallery .swiper {
  width: 100%;
  height: 100%;
}
.gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .swiper {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery .mySwiperGallery2 {
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 8;
  border-radius: calc(20px - 5px);
  overflow: hidden;
}
.gallery .mySwiperGallery {
  height: 100%;
  box-sizing: border-box;
  aspect-ratio: 8 / 1;
  padding: 0px;
  margin-top: 10px;
  border-radius: calc(20px - 5px);
}
.gallery .mySwiperGallery .swiper-slide {
  width: 25%;
  height: 100%;
  border-radius: calc(20px - 5px);
  overflow: hidden;
  position: relative;
}
.gallery .mySwiperGallery .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    opacity: 0.4;
    pointer-events: none;
    transition: 0.3s opacity ease-in-out;
}
.gallery .mySwiperGallery .swiper-slide-thumb-active::after {
  opacity: 0;
}
.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
