@media (max-width: 1440px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    button.primary {
        font-size: 0.95rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}
@media (max-width: 374px) {
    h2 {
        font-size: 1.5rem;
    }
}
