@media (max-width: 1440px) {
    .sidebyside {
        margin: 0;
    }
    .sidebyside-content p {
        font-size: 0.95rem;
    }
    .swiper.mySwiper2 {
        width: 400px;
    }
    .sidebyside-content {
        gap: 10px;
    }
    .contactMedia {
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }
    .userStories-users-container {
        width: 100%;
    }
}
@media (min-width: 1265px) {
    .userStories-users .swiper-button-prev,
    .userStories-users .swiper-button-next {
        display: none;
    }
    .userStories-users .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1265px) {
    .userStories-users-container {
        width: 670px;
    }
}
@media (max-width: 1150px) {
    .userStories-users-container {
        width: 490px;
    }
}
@media (max-width: 950px) {
    .userStories .sidebyside-container {
        flex-direction: column;
    }
    .userStories-users-container {
        width: 670px;
    }
}
@media (max-width: 1000px) {
    .contact .contactMedia {
        display: none;
    }
}
@media (max-width: 900px) {
    h2 {
        font-size: 1.4rem;
    }
    .sidebyside-content p,
    button.primary {
        font-size: 0.8rem;
    }
}
@media (max-width: 768px) {
    h2 {
        font-size: 1.7rem;
    }
    .sidebyside-content p {
        font-size: 1rem;
    }
    button.primary {
        font-size: 1.1rem;
        margin: 20px 0;
    }
    #contactForm button.primary {
        margin: 0;
    }
    .sidebyside-container {
        flex-direction: column;
    }
    .sidebyside-container.reponsive-reserse {
        flex-direction: column-reverse;
    }
    .userStories-users-container {
        width: 670px;
    }
    .gallery-container {
        width: 100%;
    }
    .gallery .location {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .swiper.mySwiper2 {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .userStories-users .swiper-wrapper {
        gap: 5px;
    }
    .userStories-users .swiper-slide {
        width: 100px !important;
    }
    .userStories-users-container {
        width: 420px;
    }
    .sidebyside-container {
        margin: 30px 0;
    }
    .header-content h1 {
        font-size: 2.8rem;
    }
    .header-content p {
        font-size: 1.6rem;
    }
    .header-content button {
        font-size: 1.2rem;
    }
    .header-icon {
        width: 45px;
    }
    .header-icon svg {
        padding: 0;
    }
}
@media (max-width: 500px) {
    .fixed-contactBtn {
        padding: 6px;
    }
    .fixed-contactBtn svg {
        scale: 0.8;
    }
    .header-content h1 {
        font-size: 2.3rem;
    }
    .header-content p {
        font-size: 1.4rem;
    }
    .header-content button {
        font-size: 1.1rem;
    }
    .sidebyside-media {
        scale: 1.08;
    }
    .userStories-users-container {
        width: 315px;
    }
    .userStories-container .swiper {
        width: 280px;
        height: 480px;
    }
    .userStories-story-button {
        gap: 5px;
    }
    .fixed-contact {
        bottom: 10px;
        right: 10px;
    }
    .gallery .location {
        height: 100%;
    }
    .gallery .location .location-map {
        height: 250px;
    }
}
@media (max-width: 374px) {
    .userStories-container .swiper {
        width: 220px;
        height: 380px;
    }
    .userStories-users .swiper-slide {
        width: 80px !important;
    }
    .userStories-users .user-profile-pic {
        padding: 3px;
    }
    .userStories-users .swiper-slide .user-profile-pic img {
        padding: 2px;
    }
    .userStories-users-container {
        width: 255px;
    }
    .userStories-story-button {
        font-size: 0.9rem;
    }
    .reservation-category-btn {
        font-size: 1.15rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h2 svg {
        width: 38px;
        aspect-ratio: 1 / 1;
    }
    .header-content h1 {
        font-size: 1.8rem;
    }
    .header-content p {
        font-size: 1.2rem;
    }
}
@media (max-width: 330px) {
    h2 {
        font-size: 1.2rem;
    }
}
