@media (max-width: 1025px) {
    .reservationList {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
@media (max-width: 700px) {
    .reservationBox article h3 {
        font-size: 1.8rem;
    }
}
